aml/config.py
aml/amlt_config.py
aml/amlt.yaml
.amltconfig
*.pyc
*.pyd
.vscode/
.azureml/
*.bin
*.png
!assets/*.png
*.so
build/
build1/
**/test_room/
temp.py
*.pth.tar
*.onnx
*.npz
*.yuv
.idea
config_overrides.json
/video/logs
/video/output
_skbuild
.skbuild
build.d
stage.d
*.egg-info
.profile_results/
venv/
.venv/
.Ds_Store
.env
